[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=ToolBarUI
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=ToolBar UI
Comment=A minimal UI centered around toolbars
